body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f1f1f1;
}

h1 {
  text-align: center;
  font-size: 28px;
}

button {
  padding: 12px;
  background: #4CAF50;
  color: white;
  width: 100%;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
}
